@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-100;
}

@layer utilities {
  .animate-wave::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
  }
}